body {
	background-image: url("../images/background.jpg");    /*background image for the home page*/
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
#main-div {                                             /*div that contains the allposts and create post buttons  */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#allposts-Button {                                     /*css for allposts button */
	background-color: yellow;
	text-align: center;
	width: 100px;
	padding: 10px;
	margin-right: 10px;
	margin-top: 275px;
	border-style: none;
	cursor: pointer;
}
#createpost-Button {                                   /*css for create post button*/
	background-color: yellow;
	text-align: center;
	width: 100px;
	padding: 10px;
	margin-left: 10px;
	margin-top: 275px;
	border-style: none;
	cursor: pointer;
}
 /* The Modal (background) */
.modalPost {
  display: none; 
  position: fixed;
  z-index: 1;     /*sit on top*/
  margin-left: 65px;
  margin-top: 60px;
  width: 80%; 
  height: 75%; 
  background-color: white;
}

/* Modal Content/Box */
.modalPost-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#modalPost-CreateButton {                                            /*css for create button on post modal*/
	background-color: #00cc44;
	color: white;
	text-align: center;
	margin-left: 500px;
	width: 80px;
	padding: 5px;
	margin-top: 10px;
	cursor: pointer;
}
#contents {                                                         /*css for the contents textarea*/
	margin-left: 10px;
	background-color: #f0f5f5;
	
}
#title {
	width: 1200px;
}