#titleOfPost {                                               /*css for title of post  */
  text-align: center;
  justify-content: center;
  border-style: none;
}
h3 {
  margin-left: 13px;	
}
h4 {
	margin-left: 13px;
}

.fa-edit {
  color: white;
  float: right;
  font-size: 18px;
  font-weight: bold;
}

.fa-edit:hover,
.fa-edit:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.fa-save {
  color: white;
  float: right;
  font-size: 18px;
  font-weight: bold;
}

.fa-save:hover,
.fa-save:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
#editAndSave {                                             /*css for edit and save button  */
	text-align: center;
	background-color: red;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	border-style: none;
}
#contents {                                                 /*css for contents of the post-textarea  */
	justify-content: center;
	margin: 15px 10px 15px 15px;
	
}
.fa-thumbs-up {
  color: white;
  float: left;
  font-size: 18px;
  font-weight: bold;
}

.fa-thumbs-up:hover,
.fa-thumbs-up:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
#likesButton {                                                  /*css for likes button  */
	text-align: center;
	background-color: red;
	padding: 10px;
	margin-left: 13px;
	border-style: none;
	
}
#likesComment {
   margin-left: 13px;	
}
#comments {
	margin-left: 13px;
	
}
#commentButton {                                                   /*css for comment button  */
	color: white;
	text-align: center;
	background-color: red;
	padding: 10px;
	margin-bottom: 10px;
	margin-left: 13px;
	border-style: none;
	cursor: pointer;
	
}
#addComments {                                                    /*css for the div in to which comments are dynamically added*/
	display: flex;
	flex-direction: column-reverse;
	width: 50%;
	border-style: none;
	border-color: none;
	margin-left: 13px;
	background-color: #d6d6c2;
}